  
        #progressContainer,#progressContainer2 {
            width: 250px;
        }

        #progressContainer .progress , #progressContainer2 .progress {
            overflow: hidden;
            background-color: rgba(0,0,0,0.1);
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            height: 12px;
            margin-bottom: 15px;
            border-radius: 0;
            box-shadow: none;
        }

            #progressContainer .progress .progress-bar,  #progressContainer2 .progress .progress-bar {
                font-size: 9px;
                line-height: 12px;
                box-shadow: none;
            }

        #progressContainer .progress-bar-primary, #progressContainer2 .progress-bar-primary {
            background-color: #5fa2dd;
        }

        #progressContainer .progress-bar,#progressContainer2 .progress-bar {
            float: left;
            width: 0;
            height: 100%;
            font-size: 12px;
            line-height: 20px;
            color: #fff;
            text-align: center;
            background-color: #337ab7;
            -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
            -webkit-transition: width .6s ease;
            -o-transition: width .6s ease;
            -moz-transition: width .6s ease;
            transition: width .6s ease;
        }
 

                #buttonContainer,   #buttonContainer2, #switchButtonContainer {
            height: 40px;
        }

        #buttonGroup .btn {
            text-decoration: none;
            padding: 10px;
            background-color: #CC7A6F;
            cursor: pointer;
            color: white;
            font-weight: bold;
            font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
        }

            #buttonGroup .btn:hover {
                background-color: #A94E42;
            }

            #buttonGroup .btn.disable {
                background-color: #CCC;
            }


            body{
    background-color:rgba(204, 204, 204, 0.2);
}
.dragger1 {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #929397;
    overflow: hidden;
    background: url(../img/sprite.png) no-repeat 14px -19px;
    position: absolute;
   top: 85px;
    left: 55px;
    cursor: default;
    background-color: #fff;
}

.dragger2 {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #929397;
    overflow: hidden;
    background: url(../img/sprite.png) no-repeat 11px 11px;
    position: absolute;
    top: 25px;
    left: 85px;
    cursor: default;
    background-color: #fff;
}

.dragger3 {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #929397;
    overflow: hidden;
    background: url(../img/sprite.png) no-repeat 7px -52px;
    position: absolute;
   top: 85px;
    left: 185px;
    cursor: default;
    background-color: #fff;
}

.box {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;
    display: box;
    box-orient: vertical;
    box-align: stretch;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    text-align: center;
    width: 200px;
    height: 200px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 40px auto;
    font-size: 40px;
    font-weight: bold;
    color: #262525;
    background-color: #fff;
}

  #pieChartContainer canvas{
            background-color:#ccc;
        }

    #lcContainer canvas{
            background-color:#777777;
        }


            .nuclear-tab-nav {
            font-size: 0;
        }

        .nuclear-tab-nav a {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: inline-block;
            font-size: 24px;
            line-height: 30px;
            width: 20%;
            text-align: center;
            cursor: pointer;
            height: 30px;
            font-weight: bold;
            border: 2px solid rgba(0,0,0,0);
            text-decoration:none;
        }

        .nuclear-tab .nuclear-tab-navActive {
            background: #c8c6c6;
            border: 2px solid #515050;
            border-bottom: none;
            -moz-border-radius: 5px 5px 0px 0px;
            -webkit-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;
        }

        .nuclear-tab-content {
            background-color: #c8c6c6;
            border: 2px solid #515050;
            min-height: 200px;
            line-height: 200px;
            text-align: center;
            font-size: 40px;
        }




           #alertContainer {
            height: 40px;
        }
        #alertContainer .btn {
            text-decoration: none;
            padding: 10px;
            background-color: #CC7A6F;
            cursor: pointer;
            color: white;
            font-weight: bold;
            font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
        }
            #alertContainer .btn:hover {
                background-color: #A94E42;
            }
            #alertContainer .btn.disable {
                background-color: #CCC;
            }
        .ui-dialog {
            overflow: hidden;
            margin: 0 auto;
            z-index: 1002;
            position: absolute;
            left: 0;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            background-color: white;
            -webkit-transform: translateZ(0);
            -webkit-user-select: none;
            -webkit-user-drag: none;
            background: #f5f5f5;
            -webkit-border-radius: 7px;
            width: 300px;
            height: auto;
            left: 50%;
            margin-left: -150px;
            margin-top: -160px;
        }
        /** mask */
        .ui-mask {
            position: absolute;
            top: 0;
            left: 0;
            background: black;
            opacity: 0.5;
            z-index: 1001;
            -webkit-transform: translateZ(0);
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-user-select: none;
            -webkit-user-drag: none;
            width: 100%;
        }
        .ui-dialog .ui-dialog-title {
            position: relative;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            text-align: center;
            font-weight: 700;
            -webkit-border-radius: 3px 3px 0 0;
        }
 
        .ui-dialog-container {
            position: relative;
        }
        .ui-dialog-content p {
            font-size: 16px;
            text-align: center;
            color: black;
        }
     
        .ui-dialog h3 {
            margin: 0;
            padding: 0;
            color: black;
            height:50px;
            line-height:50px;
        }
 
        .ui-dialog .ui-dialog-content {
            padding: 10px;
            position: relative;
        }
        .ui-dialog-btns {
            table-layout: fixed;
            display: table;
            border-collapse: collapse;
            margin: 19px 0 0 0;
            width: 100%;
        }
            .ui-dialog-btns .ui-btn {
                padding: 0;
                font-size: 18px;
                width: 100%;
                display: table-cell;
                float: none;
                text-align: center;
                height: 44px;
                line-height: 44px;
                color: #0079FF;
                border: 1px solid #B1B1B1;
                background-color: #f7f7f7;
                border-bottom: 0 none;
                cursor: pointer;
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
                text-decoration:none;
            }
                .ui-dialog-btns .ui-btn:first-child {
                    -webkit-border-bottom-left-radius: 3px;
                    border-left: 0 none;
                }
                .ui-dialog-btns .ui-btn:last-child {
                    -webkit-border-bottom-right-radius: 3px;
                    border-right: 0 none;
                }
                .ui-dialog-btns .ui-btn:hover {
                    background-color: #e2e2e2;
                }

                        .nuclear-carousel {
            max-width: 280px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
        }

        .nuclear-nav {
            position: absolute;
            bottom: 6px;
            right: 10px;
        }

            .nuclear-nav a {
                display: inline-block;
                background-color: white;
                cursor: pointer;
                width: 16px;
                height: 16px;
            }

            .nuclear-nav a {
                display: inline-block;
                background-color: white;
                cursor: pointer;
                width: 16px;
                height: 16px;
            }

                .nuclear-nav a.active {
                    background-color: yellow;
                }

        .nuclear-carousel-box {
            position: relative;
            transition: left 1s cubic-bezier(0.22, 0.61, 0.36, 1);
            font-size: 0;
        }

        
      #paginationContainer .pagination a {
            text-decoration: none;
            border: 1px solid #AAE;
            color: #15B;
        }

         #paginationContainer .pagination a,  #paginationContainer .pagination span {
            display: inline-block;
            padding: 1px 6px;
            margin-right: 3px;
            margin-bottom: 5px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            float:none;
        }

         #paginationContainer .pagination .current {
            background: #26B;
            color: #fff;
            border: 1px solid #AAE;
     
        }

             #paginationContainer .pagination .current.prev,  #paginationContainer .pagination .current.next {
                color: #999;
                border-color: #999;
                background: #fff;
               
            }


             #layoutContainer div{
                  border: 1px solid #ccc;
            text-align:center;              -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
             }

.nc-nav {
    position: fixed;
    z-index: 200;
    right:0;
    top: 220px;
    width:160px;
   
}
.nc-nav li a:hover{
    font-weight:bold;
 text-decoration:none;
}

.nc-nav li a:visited{
 text-decoration:none;
}
.nc-nav li a:active{
 text-decoration:none;
}